header
	.container
		.row
			.col-md-2.col-sm-2
				a(href="https://mastervision.su", target="_blank")
					img#logo(src="/img/logo.png", alt="Логотип")
			.col-md-7.col-sm-7.col-md-offset-1.col-sm-offset-1
				nav.main-menu
					ul.header-links
						li
							a(href="#") Стать партнером
						li
							a(href="#") Кейсы
						li
							a(href="#") Статистика 
						li
							a(href="#") Наши преимущества
						li
							a(href="#") Отзывы
			.col-md-2.col-sm-2
				.header-contacts
					a.contact.contact-email(href="mailto:info@mastervision.su" target="_blank") info@mastervision.su
					a.contact.contact-tel(href="callto:8-499-346-79-46" target="_blank") 8-499-346-79-46