header.header-stick
	.container
		.row
			.col-md-2.col-sm-2
				a(href="https://mastervision.su", target="_blank")
					img#logo(src="img/logo.png", alt="Логотип")
			.col-md-6.col-sm-6.col-md-offset-1.col-sm-offset-1
				ul.header-links
					li
						a(href="#main") Стать партнером
					li
						a(href="#cases") Кейсы
					li
						a(href="#statistic") Статистика 
					li
						a(href="#advantages") Наши преимущества
					li
						a(href="#revs") Отзывы
			.col-md-3.col-sm-3
				.header-contacts
					a.contact.contact-email(href="mailto:info@mastervision.su" target="_blank") info@mastervision.su
					a.contact.contact-tel(href="callto:8-499-346-79-46" target="_blank") 8-499-346-79-46