@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
@media screen and (max-width 767px)
	.contact
		font-size: 14px
	#case-single
		padding 20px 0
	header
		height 100%
		width 170px
		left -200px
	#logo
		width 70px
		display block
		margin-bottom: 10px
	.header-links li
		line-height: 1
		margin 0 0 20px
		display block
		a
			font-size: 16px
	.header-contacts
		text-align left
		margin-top: 20px
	.modal-menu
		display block
	.case-pre
		width 80%
@media screen and (max-width 485px)
	.case-title
		font-size: 28px
		margin-bottom: 30px
		&:after
			width 100px
			height 6px
			bottom: -10px
	.case-text
		font-size: 18px
		margin-bottom: 10px
	.case-img
		margin-bottom: 10px
	footer
		padding 10px 0
		font-size: 12px
@media screen and (max-width 385px)
	.case-title
		font-size: 26px