Gy = 'Gilroy', sans-serif;
GyB = 'GilroyBold', sans-serif;
GP = 'GothamPro', sans-serif;
GPB = 'GothamProBlack', sans-serif;
MBk = 'MullerBlack', sans-serif
M = 'Muller', sans-serif

@font-face {
	font-family: 'Gilroy';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: local url('../fonts/Gilroy.eot');
	src: url('../fonts/Gilroy.eot') format('embedded-opentype'),
		 url('../fonts/Gilroy.woff2') format('woff2'),
		 url('../fonts/Gilroy.woff') format('woff'),
		 url('../fonts/Gilroy.ttf') format('truetype'),
		 url('../fonts/Gilroy.svg#Gilroy') format('svg');
}
@font-face {
	font-family: 'GilroyBold';
	font-display: fallback;
	font-weight: bold
	font-style: normal;
	src: local url('../fonts/GilroyBold.eot');
	src: url('../fonts/GilroyBold.eot') format('embedded-opentype'),
		 url('../fonts/GilroyBold.woff2') format('woff2'),
		 url('../fonts/GilroyBold.woff') format('woff'),
		 url('../fonts/GilroyBold.ttf') format('truetype'),
		 url('../fonts/GilroyBold.svg#GilroyBold') format('svg');
}
@font-face {
	font-family: 'GothamPro';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: local url('../fonts/GothamPro.eot');
	src: url('../fonts/GothamPro.eot') format('embedded-opentype'),
		 url('../fonts/GothamPro.woff2') format('woff2'),
		 url('../fonts/GothamPro.woff') format('woff'),
		 url('../fonts/GothamPro.ttf') format('truetype'),
		 url('../fonts/GothamPro.svg#GothamPro') format('svg');
}
@font-face {
	font-family: 'GothamProBlack';
	font-display: fallback;
	font-weight: 900
	font-style: normal;
	src: local url('../fonts/GothamProBlack.eot');
	src: url('../fonts/GothamProBlack.eot') format('embedded-opentype'),
		 url('../fonts/GothamProBlack.woff2') format('woff2'),
		 url('../fonts/GothamProBlack.woff') format('woff'),
		 url('../fonts/GothamProBlack.ttf') format('truetype'),
		 url('../fonts/GothamProBlack.svg#GothamProBlack') format('svg');
}
@font-face {
	font-family: 'MullerBlack';
	font-display: fallback;
	font-weight: 900
	font-style: normal;
	src: local url('../fonts/MullerBlack.eot');
	src: url('../fonts/MullerBlack.eot') format('embedded-opentype'),
		 url('../fonts/MullerBlack.woff2') format('woff2'),
		 url('../fonts/MullerBlack.woff') format('woff'),
		 url('../fonts/MullerBlack.ttf') format('truetype'),
		 url('../fonts/MullerBlack.svg#MullerBlack') format('svg');
}
@font-face {
	font-family: 'Muller';
	font-display: fallback;
	font-weight: normal
	font-style: normal;
	src: local url('../fonts/Muller.eot');
	src: url('../fonts/Muller.eot') format('embedded-opentype'),
		 url('../fonts/Muller.woff2') format('woff2'),
		 url('../fonts/Muller.woff') format('woff'),
		 url('../fonts/Muller.ttf') format('truetype'),
		 url('../fonts/Muller.svg#Muller') format('svg');
}
