-var head_url = 'https://mastervision.su/partnership-program/';
-var head_title = '«Зарабатывать от 30 000 руб в месяц, не выходя из дома – это реально!»';
-var head_description = 'Партнерская программа Master Vision - лучший инструмент для заработка онлайн';
//- -var head_img = 'img/banner.jpg';
-var styles = 'css/styles.min.css';
-var fav_ico = 'favicon.ico';
-var fav_png = 'favicon.png';

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/main/1.main.pug
		include pug/main/2.info.pug
		include pug/main/3.cases.pug
		include pug/main/4.stats.pug
		include pug/main/5.alex.pug
		include pug/main/6.advs.pug
		include pug/main/7.revs.pug
		include pug/main/8.last-form.pug
		include pug/main/9.photos.pug
		include pug/main/10.footer.pug
		include pug/main/11.modal.pug
		include pug/main/12.politics.pug
		include pug/main/13.scripts.pug
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts