.modal
	display none
.fancybox-is-open .fancybox-bg
	background-color: #fefefe
	opacity .95
.fancybox-content
	padding 0
	margin 30px
.fancybox-caption
	background-image: none
.fancybox-button, .fancybox-button:link, .fancybox-button:visited
	color #000
	&:hover
		color #000
.fancybox-button
	background: transparent