#myPolitics
	padding 30px
	.fancybox-button svg
		color: #000
	.modal-title
		font-size: 26px
		font-family: MBk
		color #000
		margin-bottom: 40px
		small
			display block
			font-size: 16px
			font-family: M
	p
		color #000
		margin-bottom: 20px
		&:last-of-type
			margin-bottom: 0