@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.main-img-text
		max-width 280px
	#info:before
		height 120px
		top -120px
	#info:after
		height 120px
		bottom: -120px
	.statistic-title:after
		right 33%
	#statistic
		margin-bottom: -75px
	#thanks
		padding-top: 250px
	.thanks-text
		margin-top: 50px
	.thanks-text:last-of-type
		margin 50px 0 90px
@media screen and (max-width 1199px)
	.header-links li
		margin-right: 3px
	.main-img-text
		right 140px
	#main:before
		bottom: -250px
	.statistic-title:before
		right 0
	.presentation-title
		z-index 60
	.revs-title:before
		right -10%
	.last-form-img-text
		max-width 195px
	.advantage-1:before
		top -186px
	.revs-title
		padding-bottom: 210px
		margin-bottom: 30px
	.revs-title:before
		left 0
		right 0
		margin 0 auto
		bottom: 0
	.rev-title
		min-height 90px
		display flex
		align-items: center
		justify-self center
	.last-form-img-text
		right 0