#statistic
	padding 180px 0 120px
	background-image url(../img/backs/statistic.png)
	background-repeat no-repeat
	background-position: center bottom
	background-size: cover
	margin-bottom: -60px
	position relative
	z-index 18
.statistic-title
	text-align center
	font-size: 45px
	font-family: MBk
	font-weight: 900
	position relative
	margin-bottom: 50px
	&:before
		content: ''
		display block
		position absolute
		width 163px
		height 182px
		background-image url(../img/icons/title-arrow-2.png)
		background-repeat no-repeat
		background-position: center
		background-size contain
		bottom -10px
		right 160px
	&:after
		content ''
		display block
		position absolute
		width 345px
		height 13px
		background-color: #772377
		top 0
		right 29.5%
.statistic-item
	padding 300px 0 0
	background-repeat no-repeat
	background-position: top center
	background-size: 555px auto
	text-align center
	margin-bottom: 60px
	&-1
		background-image url(../img/images/stat-1.png)
	&-2
		background-image url(../img/images/stat-2.png)
	&-3
		background-image url(../img/images/stat-3.png)
	&-4
		background-image url(../img/images/stat-4.png)
.statistic-item-text
	font-size: 20px
	font-family: GP
	span
		display block
		font-size: 30px
		font-family: GPB
		font-weight: 900
.button-statistic
	background-image url(../img/backs/stat-button.png)
	background-repeat no-repeat
	background-position: center
	&:hover
		opacity .8