#advantages
	padding 200px 0 40px
	background-image url(../img/backs/advantages.png)
	background-repeat no-repeat
	background-position: center top
	background-size: cover
	position relative
	z-index 18
.advantage
	margin-bottom: 40px
	padding 0 0 0 400px
	background-repeat no-repeat
	background-position: left center
	&-title
		font-size: 30px
		font-family: GPB
		margin-bottom: 25px
		font-weight: 900
	&-text
		font-size: 20px
		font-family: GP
		span
			display inline-block
	&-list
		list-style none
		margin-left: 10px
	&-1
		position relative
		background-image url('../img/images/advim-1.png')
		background-position: left 120px center
		&:before
			content: ''
			display block
			position absolute
			width 163px
			height 182px
			background-image url(../img/icons/title-arrow-2.png)
			background-repeat no-repeat
			background-position: center
			background-size contain
			top -150px
			right 180px
	&-2
	&-4
		padding 0 400px 0 0
		text-align: right
		background-position: right center
	&-2
		background-image url(../img/images/advim-2.png)
	&-3
		background-image url(../img/images/advim-3.png)
	&-4
		background-image url(../img/images/advim-4.png)
		background-position: right 120px center
	&-5
		background-image url(../img/images/advim-5.png)
		background-position: left 120px center