#revs
	padding 100px 0 55px
	background-color: #92A8B5
	background-image url(../img/backs/revs.png)
	background-repeat no-repeat
	background-position center
	background-size cover
	overflow hidden
.revs-title
	text-align center
	font-size: 45px
	font-family: MBk
	margin-bottom: 45px
	position relative
	color #000
	&:before
		@extends .statistic-title:before
		background-image url(../img/icons/revs-title-arrow.png)
		right: -100px
		bottom -100px
.rev-img
	width 100%
	max-width 560px
	display block
	margin 0 auto 35px