#last-form
	padding 90px 0 0
	background-image url(../img/backs/last-form.png)
	background-repeat no-repeat
	background-position: top center
	background-size: cover
	position relative
	overflow hidden
	&:before
		content: ''
		display block
		width 817px
		height 365px
		background-image url(../img/images/people.png)
		background-repeat no-repeat
		background-position: center
		background-size contain
		position absolute
		z-index 20
		bottom: -100px
		left 200px
		left 0
		right 0
		margin 0 auto
.last-form-title
	font-size: 45px
	font-family: MBk
	margin: 0 0 10px 410px
	position relative
	span
		color: #e81313
	&:before
		content ''
		display block
		position absolute
		width 163px
		height 182px
		top 0
		left -260px
		background-image url(../img/icons/title-arrow-2.png)
		background-repeat no-repeat
		background-position: center
		background-size contain
		transform: rotateY(180deg) rotate(90deg)
.form-last
	margin-top: 120px
	position relative
.form-text
	position absolute
	top -120px
	left 45px
	width 100%
	max-width 220px
	&:before
		content: ''
		display block
		position absolute
		z-index 53
		height 285px
		width 2px
		background-color #fff
		top 23px
		left -25px
	&:after
		content: ''
		display block
		position absolute
		width 15px
		height 15px
		border-radius: 50px
		background-color: #fff
		top 300px
		left -32px
		z-index 54
.last-form-img
	position relative
	img
		width 100%
		max-width 449px
		display block
		margin 0 auto
	&-text
		position absolute
		width 100%
		max-width 310px
		right: -90px
		top 90px