#photos
	padding 180px 0 60px
	background-image url(../img/backs/photos.png)
	background-repeat no-repeat
	background-position: top center
	background-size: cover
	margin-top: -220px
	position relative
	z-index 35
	color #000
.photos-title
	text-align right
	margin-bottom: 50px
	font-size: 45px
	font-family: MBk
	font-weight: 900
.photo-img
	width 100%
	max-width 273px
	height auto
	display block
	margin 0 auto
.photo-text
	font-size: 20px
	margin 20px 0 50px
	text-align center
.fancybox-caption__body
	color #000
	font-size: 16px