section#info
	.container
		.row
			.col-md-6.col-sm-6.col-md-push-6.col-sm-push-6
				h3.info-title Не упусти шанс стань нашим партнером!
				p.info-text Презентация партнерской программы академии Master Vision
					span 20 апреля в 19:00(мск)
				p.info-text Ты узнаешь как бесплатно обучиться перспективной профессии и достойно зарабатывать удаленно
				p.info-text
					span Обязательно поставьте напоминание – такое нельзя пропустить!
			.col-md-6.col-sm-6.col-md-pull-6.col-sm-6
				p.info-text.info-text-video Включи приглашение Вадима на презентацию новой партнерки
				.video-wrapper.video-wrapper-info
					iframe(src="https://player.vimeo.com/video/310942381?autoplay=1&showinfo=0" allowFullScreen mozallowfullscreen webkitAllowFullScreen)