section#info
	.container
		.row
			.col-md-5.col-md-push-7
				h3.info-title Не упусти шанс стань нашим партнером!
				p.info-text Презентация партнерской программы академии MasterVision
					span 30 апреля в 19:00 (мск)
				a.button.button-info.button-modal-up(href="#Modal") Записаться на презентацию
				p.info-text Ты узнаешь, как бесплатно освоить перспективную профессию и достойно зарабатывать удаленно
				p.info-text
					span Обязательно поставьте напоминание – такое нельзя пропустить!
			.col-md-7.col-md-pull-5
				p.info-text.info-text-video Включи приглашение Вадима на презентацию партнерки
				.laptop-wrapper.laptop-wrapper-info
					.video-wrapper.video-wrapper-info(data-vim='407491511')
						img(src="img/images/info-banner.png", alt="Включи приглашение Вадима на презентацию партнерки")
						//- iframe(src="https://player.vimeo.com/video/407491511?autoplay=1&showinfo=0" allowFullScreen mozallowfullscreen webkitAllowFullScreen)