section#cases
	.container
		h3.cases-title Кейсы действующих ПАРТНЕРОВ
		.cases
			.row
				.col-md-6.col-sm-6
					a.case-link.case-link-1(href="cases/case-1.php" target="_blank")
						.case
							.case-partner
								img.case-partner-img(src="img/avas/ava-1.png", alt="Роман Неделько")
								p.case-partner-name Роман Неделько
							.case-info
								h4.case-info-title Из новичка - в список ТОП-партнеров. Как начать, ничем не рискуя?
								p.case-info-bq Призовые места в конкурсах становятся обычным делом, а заработок в сто тысяч в месяц теперь не кажется чем-то невероятным и запредельным
								p.case-info-exerpt Читать полностью
					a.case-link.case-link-2(href="cases/case-2.php" target="_blank")
						.case
							.case-partner
								img.case-partner-img(src="img/avas/ava-2.png", alt="Ольга Доброва")
								p.case-partner-name Ольга Доброва
							.case-info
								h4.case-info-title Чистый доход 1,5 млн. рублей. Стабильный возврат инвестиций - примерно 200%
								p.case-info-bq До сотрудничества с MasterVision я уже имела внушительный личный «кейс», ранее получила бесценный опыт работы. Однако наиболее продуктивно эти навыки сработали именно в последние годы в качестве самозанятого партнера. Сам. Себе. Хозяин. Три слова - миллион возможностей. Согласись, нет ничего прекрасней финансовой и личной независимости?
								p.case-info-exerpt Читать полностью
				.col-md-6.col-sm-6
					a.case-link.case-link-3(href="cases/case-3.php" target="_blank")
						.case
							.case-partner
								img.case-partner-img(src="img/avas/ava-3.png", alt="")
								p.case-partner-name Александр Воротников
							.case-info
								h4.case-info-title Медленно, но верно: как развеять собственные сомнения
								p.case-info-bq Строю планы выхода на 150-200к в месяц чистого дохода. Хочу регулярно путешествовать и меньше работать. Вижу, что это вполне реально. Для тех, кто только начинает, хотел бы поделиться своими инсайтами за месяц работы в данной партнерке
								p.case-info-exerpt Читать полностью
					a.case-link.case-link-4(href="cases/case-4.php" target="_blank")
						.case
							.case-partner
								img.case-partner-img(src="img/avas/ava-4.png", alt="")
								p.case-partner-name Александр Честнов
							.case-info
								h4.case-info-title 56 900 р. с первых 6-ти подписчиков
								p.case-info-bq Всего лишь 6 подписчиков, потраченных 790 рублей и крупная “рыба” в мои сетях - оплаченный заказ на 56 900 рублей к концу июля и мгновенная выплата 5 августа на электронный кошелёк
								p.case-info-exerpt Читать полностью