section#statistic
	.container
		h3.statistic-title Статистика в цифрах
		.row
			.col-md-6.col-sm-6
				.statistic-item.statistic-item-1
					p.statistic-item-text
						span Более 2 500
						| Более 2 500 человек доверились нам и стали партнерами
			.col-md-6.col-sm-6
				.statistic-item.statistic-item-2
					p.statistic-item-text
						span Более 300
						| Более 300 партнеров, активно занимаются развитием партнерской программы, получая основной доход
		.row
			.col-md-6.col-sm-6
				.statistic-item.statistic-item-3
					p.statistic-item-text
						span 600 000 руб
						| Наши партнеры имеют опыт заработка более 600 000р. в месяц
			.col-md-6.col-sm-6
				.statistic-item.statistic-item-4
					p.statistic-item-text
						span Более 30 000 000 руб
						| Более 30 000 000 руб. комиссионных выплачено партнёрам за 2019 год
		a.button.button-statistic.button-modal-up(href="#Modal") Записаться на регистрацию