section#presentation
	.container
		.row
			.col-md-5.col-md-push-7
				h3.presentation-title Генеральный директор 
					span Master Vision 
					span Александр Кудряшов
					| о партнерской программе компании
			.col-md-7.col-md-pull-5
				p.presentatione-text Включи выступление генерального директора - Александра Кудряшова
				.laptop-wrapper
					.video-wrapper.video-wrapper-presentation