section#presentation
	.container
		.row
			.col-md-6.col-sm-6.col-md-push-6.col-sm-push-6
				h3.presentation-title Генеральный директор Master Vision 
					span Александр Кудряшов
					| о партнерской программе компании
			.col-md-6.col-sm-6.col-md-pull-6.col-sm-pull-6
				p.presentatione-text Включи выступление генерального директора - Александра Кудряшова
				.video-wrapper.video-wrapper-presentation
					iframe(src="https://youtube.com/embed//2XV-nOrATno?modestbranding=1" allowfullscreen)