section#advantages
	.container
		.advantage.advantage-1.wow.fadeInUp(data-wow-offset="150")
			h4.advantage-title Высокий процент продаж
			p.advantage-text Отдел продаж доводит заказы до сделок и гарантирует высокий % продаж. Мы всегда звоним клиенту, если он сразу не оплатил заявку, и остаемся на связи в течение повторных продаж. Мы постоянно продаем вашим потенциальным клиентам новые курсы, а вы получаете пассивный доход
		.advantage.advantage-2.wow.fadeInUp(data-wow-offset="150")
			h4.advantage-title Поддержка партнеров 24/7
			p.advantage-text Поддержка 24/7 – это серьёзно. Мы действительно приходим на помощь максимально оперативно. Постоянная поддержка по Skype, 
				span e-mail
				|  и Telegram. После регистрации мы звоним новым партнерам, чтобы помочь сделать первые шаги в работе. Предоставляем рекламные материалы, статистику и массу дополнительных сервисов – делаем всё, чтобы вы достойно зарабатывали!
		.advantage.advantage-3.wow.fadeInUp(data-wow-offset="150")
			h4.advantage-title Дополнительные бонусы
			p.advantage-text Возможность приглашать партнеров 2-го и 3-го уровней, дополнительно получая с их товарооборота 7% и 3%! Участие в ежемесячных розыгрышах призов (деньги, сертификаты, кубки) для лучших партнеров. Проведение на постоянной основе длительных конкурсов (например, в 2019 году мы вручили 1 000 000 рублей в чемодане лучшему партнеру года).
		.advantage.advantage-4.wow.fadeInUp(data-wow-offset="150")
			h4.advantage-title Стабильные выплаты
			p.advantage-text Техническая платформа Master Vision позволяет добиться очень высокой конверсии. Особо старательные партнеры получают повышенные комиссионные. Начисления “падают” автоматически в кошелёк партнера после оплаты заказа, которые потом переводятся по указанным при регистрации реквизитам. Доверенные партнеры пользуются опцией мгновенной выплаты в любое время.
		.advantage.advantage-5.wow.fadeInUp(data-wow-offset="150")
			h4.advantage-title Система обучения
			p.advantage-text Во-первых, мы собрали для вас все видеоинструкции, чтобы разобраться в партнерской программе было ещё легче. Во-вторых, мы наладили систему обучения по следующим направлениям:
			ul.advantage-list
				li - SMM (ВКонтакте, Инстаграм и Фейсбук);
				li - Контекстная и таргетированная реклама (Яндекс.Директ, ВКонтакте, Инстаграм и Фейсбук).
			p.advantage-text Звучит, как шутка? Нет, мы действительно организуем бесплатные обучающие курсы для всех наших партнеров, а наши тренеры обладают высочайшим уровнем профессионализма. Впрочем, лучше всего о них расскажут их ученики.