section#advantages
	.container
		.advantage.advantage-1
			h4.advantage-title Высокий процент продаж
			p.advantage-text Отдел продаж доводит заказы до сделок и гарантирует высокий % продаж. Мы всегда звоним клиенту, если он сразу не оплатил заявку и остаемся на связи в течение повторных продаж. Мы постоянно продаем вашим потенциальным клиентам новые курсы, а вы получаете пассивный доход
		.advantage.advantage-2
			h4.advantage-title Поддержка партнеров 24/7
			p.advantage-text Поддержка 24/7 – это серьёзно. Мы действительно приходим на помощь максимально оперативно. Постоянная поддержка по Skype, e-mail и Telegram. После регистрации мы дозваниваемся до новых партнёров, чтобы помочь сделать первые шаги в работе. Предоставляем рекламные материалы, статистику и массу дополнительных сервисов – делаем всё, чтобы вы достойно зарабатывали!
		.advantage.advantage-3
			h4.advantage-title Дополнительные бонусы
			p.advantage-text Возможность приглашать партнёров 2-го и 3-го уровней, дополнительно получая с их товарооборота 7% и 3%! Участие в ежемесячных розыгрышах призов (деньги, сертификаты, кубки) для лучших партнеров. Проведение на постоянной основе длительных конкурсов (например, в 2019 году мы вручили 1 000 000 рублей в чемодане лучшему партнёру года).
		.advantage.advantage-4
			h4.advantage-title Стабильные выплаты
			p.advantage-text Техническая платформа Master Vision позволяет добиться очень высокой конверсии. Особо старательные партнёры получают повышенные комиссионные. Начисления “падают” автоматически на кошелёк партнёра после оплаты заказа, которые потом переводятся по указанным при регистрации вашим реквизитам. Доверенные партнёры пользуются опцией мгновенной выплаты в любое время.
		.advantage.advantage-5
			h4.advantage-title Система обучения
			p.advantage-text Во-первых, мы собрали для вас все видеоинструкции, чтобы разобраться в партнёрской программе было ещё легче. Во-вторых, мы наладили систему обучения в следующих направлениях:
			ul.advantage-list
				li - SMM (Вконтакте, Инстаграм и Фейсбук);
				li - Контекстная и таргетированная реклама (Яндекс.Директ, Вконтакте, Инстаграм и Фейсбук).
			p.advantage-text Звучит, как шутка? Нет, мы действительно организуем бесплатные обучающие курсы для всех наших партнёров, а наши тренера обладают высочайшим уровнем профессионализма. Впрочем, лучше всего о них расскажут их ученики.