section#revs
	.container
		h3.revs-title Отзывы действующих партнеров о партнерской программе и об обучении
		//- .row
		//- 	.col-md-4.col-sm-4
		//- 		h5.rev-title Игорь Крестинин о партнерской программе Master Vision
		//- 		.video-wrapper.video-wrapper-rev(data-vim="410965594")
		//- 			img(src="img/revs/video-1.png", alt="Игорь Крестинин о партнерской программе Master Vision")
		//- 	.col-md-4.col-sm-4
		//- 		h5.rev-title Отзыв партнера Артура об обучении партнеров
		//- 		.video-wrapper.video-wrapper-rev(data-vim="410965772")
		//- 			img(src="img/revs/video-2.png", alt="Отзыв партнера Артура об обучении партнеров")
		//- 	.col-md-4.col-sm-4
		//- 		h5.rev-title Отзыв партнера Александра об обучении партнеров
		//- 		.video-wrapper.video-wrapper-rev(data-vim="410965793")
		//- 			img(src="img/revs/video-3.png", alt="Отзыв партнера Александра об обучении партнеров")
		.row
			.col-md-6.col-sm-6
				each n in [1,4,6]
					a.rev-link(href="img/revs/rev-"+n+'.png' data-fancybox='revs')
						img.rev-img(src="img/revs/rev-"+n+'.png', alt="Отзыв "+n).wow.rubberBand(data-wow-offset="150")
			.col-md-6.col-sm-6
				each n in [2,5,3]
					a.rev-link(href="img/revs/rev-"+n+'.png' data-fancybox='revs')
						img.rev-img(src="img/revs/rev-"+n+'.png', alt="Отзыв "+n).wow.rubberBand(data-wow-offset="150")