section#photos
	.container
		h3.photos-title И ещё немного о Master Vision…
		.row
			.col-md-3.col-sm-3
				.photo
					a.photo-link(href="img/photos/photo-4.png" data-fancybox="photos" data-caption="Вручение 1 000 000 рублей лучшему партнеру 2019 года.")
						img.photo-img(data-src="img/photos/photo-4.min.png", alt="Фото ")
					p.photo-text Вручение 1 000 000 рублей лучшему партнеру 2019 года.
			.col-md-3.col-sm-3
				.photo
					a.photo-link(href="img/photos/photo-1.jpg" data-fancybox="photos" data-caption="Команда академии на зимнем мастермайнде в Сочи. 2019г.")
						img.photo-img(data-src="img/photos/photo-1.min.png", alt="Фото ")
					p.photo-text Команда академии на зимнем мастермайнде в Сочи. 2019г.
			.col-md-3.col-sm-3
				.photo
					a.photo-link(href="img/photos/photo-2.jpg" data-fancybox="photos" data-caption="Кубок призера в номинации - ЛУЧШАЯ ИСТОРИЯ СТАНОВЛЕНИЯ. 2019г.")
						img.photo-img(data-src="img/photos/photo-2.min.png", alt="Фото ")
					p.photo-text Кубок призера в номинации - ЛУЧШАЯ ИСТОРИЯ СТАНОВЛЕНИЯ. 2019г.
			.col-md-3.col-sm-3
				.photo
					a.photo-link(href="img/photos/photo-3.jpg" data-fancybox="photos" data-caption="Кубок призера в номинации - ЛУЧШИЙ ПАРТНЕР ГОДА. 2019г.")
						img.photo-img(data-src="img/photos/photo-3.min.png", alt="Фото ")
					p.photo-text Кубок призера в номинации - ЛУЧШИЙ ПАРТНЕР ГОДА. 2019г.
		.row
			.col-md-3.col-sm-3
				.photo
					a.photo-link(href="img/photos/photo-5.jpg" data-fancybox="photos" data-caption="Выступление Александра Кудряшова на инфоконференции, с темой - создание партнерских программ. 2019г.")
						img.photo-img(data-src="img/photos/photo-5.min.png", alt="Фото ")
					p.photo-text Выступление Александра Кудряшова на инфоконференции, с темой - создание партнерских программ. 2019г.
			.col-md-3.col-sm-3
				.photo
					a.photo-link(href="img/photos/photo-6.jpg" data-fancybox="photos" data-caption="Команда руководителей академии на обучении")
						img.photo-img(data-src="img/photos/photo-6.min.png", alt="Фото ")
					p.photo-text Команда руководителей академии на обучении
			.col-md-3.col-sm-3
				.photo
					a.photo-link(href="img/photos/photo-7.jpg" data-fancybox="photos" data-caption="Руководитель партнерской программы академии - Вадим Турмович")
						img.photo-img(data-src="img/photos/photo-7.min.png", alt="Фото ")
					p.photo-text Руководитель партнерской программы академии - Вадим Турмович
			.col-md-3.col-sm-3
				.photo
					a.photo-link(href="img/photos/photo-8.jpg" data-fancybox="photos" data-caption="Кубок призера в номинации - ЛУЧШИЙ УЧЕНИК. 2018г.")
						img.photo-img(data-src="img/photos/photo-8.min.png", alt="Фото ")
					p.photo-text Кубок призера в номинации - ЛУЧШИЙ УЧЕНИК. 2018г.
		.row
			.col-md-3.col-sm-3
				.photo
					a.photo-link(href="img/photos/photo-9.jpg" data-fancybox="photos" data-caption="Генеральный директор академии - Александр Кудряшов")
						img.photo-img(data-src="img/photos/photo-9.min.png", alt="Фото ")
					p.photo-text Генеральный директор академии - Александр Кудряшов
			.col-md-3.col-sm-3
				.photo
					a.photo-link(href="img/photos/photo-10.jpg" data-fancybox="photos" data-caption="Выступление Александра Кудряшова на зимнем мастермайнде в Сочи, с темой - создание партнерских программ. 2020г.")
						img.photo-img(data-src="img/photos/photo-10.min.png", alt="Фото ")
					p.photo-text Выступление Александра Кудряшова на зимнем мастермайнде в Сочи, с темой - создание партнерских программ. 2020г.
			.col-md-3.col-sm-3
				.photo
					a.photo-link(href="img/photos/photo-11.jpg" data-fancybox="photos" data-caption="Кубок призера в номинации - САМЫЙ УВЛЕЧЕННЫЙ ПАРТНЕР. 2019г.")
						img.photo-img(data-src="img/photos/photo-11.min.png", alt="Фото ")
					p.photo-text Кубок призера в номинации - САМЫЙ УВЛЕЧЕННЫЙ ПАРТНЕР. 2019г.
			.col-md-3.col-sm-3
				.photo
					a.photo-link(href="img/photos/photo-12.jpg" data-fancybox="photos" data-caption="")
						img.photo-img(data-src="img/photos/photo-12.min.png", alt="Фото ")
					p.photo-text Кубок призера в номинации - ЛУЧШИЙ РЕКРУТЕР. 2018г.